.contactformparent::before{
    background-image: url(../../../public/images/contactus.jpeg);
    background-size: cover;
    background-position: center;
    content: ' ';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}
.contactformparent{
    border: 2px solid wheat;
        height: 625px;
    position: relative;
}
.contactformDetails_para1{
    font-weight: bolder;
    text-transform: uppercase;
    color: greenyellow;
    display: inline-block;
    border: 2px solid;
}
.contactformDetails_para1:hover{
    background-color: black;
    color: white;
    border: none;
}
.contactformDetails_heading{
    font-family: auto;
    font-size: 3.4rem;
    font-weight: bolder;
    color: white;
}
.contactformDetails_para2{
    font-weight: bolder;
    color: white;
    font-size: 1.2rem;
}
.contactformDetails_para3{
    font-size: 23px;
    font-weight: bolder;
    text-transform: uppercase;
}
.contactformDetails_location_section p{ 
    color: white;
    font-size: 1rem;
    
}
.contactformDetails_location_icon{
    color: yellow;
    font-size: 20px;
}
/* table */
.contactformparent_form{
    /* border: 2px solid black; */
    width: auto;
    height: 26pc;
    max-height: 27pc;
}
.contactformparent_form_field {
    background-color: white;
    color: black;
    box-shadow: 1px 7px 36px black;
    border-radius: 2pc;
}
.contactformparent_form_textfield{
    width: 99%;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 16px 1px 21px 2px;
    height: 3pc;
  

}
.contactformparent_form_textfield_area{
    width: 49%;
    border: none;
    border-bottom: 2px solid cornflowerblue;
    border-radius: 1pc;
    padding-left: 24px;
}
.contactformparent_form_carSelect_button{
    width: 20%;
}
.contactformparent_form_textfield_textarea{
    border: navajowhite;
    border-bottom: 2px solid blue;
    border-radius: 15px;
    padding-left: 20px;
    margin-top: 18px;
    width: 98%;
    margin-left: 8px;
    margin-top: 10px;
}
.contactformparent_form_submit{
    width: 100%;
}

/* REsponsive */



/* @media screen and (max-width: 575px){
    .contactformparent{
        height: 91pc;
    }

@media screen and (max-width: 375px){
    .contactformparent{
        height: 100pc;
    }
}}
@media screen and (max-width: 768px){
    .contactformparent{
        height: 56pc;
    }
}
@media screen and (max-width: 1194px){
    .contactformparent{
        height: 47pc;
    }
} */

@media screen and (max-width: 768px){
    .contactformparent{
        height: 56pc;
    }
    @media screen and (max-width: 403px){
        .contactformparent{
            height: 95pc;
        }
    }
    @media screen and (max-width: 425px){
        .contactformparent{
            height: 91pc;
        }
        .contactformparent_form_field{
            height: 39pc;
        }
    }
    @media screen and (max-width: 396px){
        .contactformparent{
            height: 100pc;
        }
    }
  
    @media screen and (max-width: 401px){
        .contactformparent{
            height: 96pc;
        }
    }
    @media screen and (max-width: 572px){
        .contactformparent{
            height: 89pc;
        }
    }
  

}

@media screen and (max-width: 396px) {
    .contactformparent{
        height: 80pc ;
    }
    .contactformparent_form_field{
        height: 36pc;
    }
}
@media screen and (max-width: 1194px) {
    .contactformparent_mainRow{
    height: 34pc;
    }
    .contactformDetails_location_section p{
        font-size: 15.2px;
        margin-top: -14px;
    }
}

@media screen and (max-width: 990px) {
    .contactformDetails_heading{
        font-size: 2.2rem;
    }
    .contactformDetails_para2{
        font-size: 16px;
    }
    .contactformDetails_location_section p{
        color: red;
        font-size: 15px;
        margin-top: -14px;
    }
   .contactformparent_form {
    height: 16pc;
   }
}
