.contactformparent::before{
    background-image: url(../../../public/images/contactus.jpeg);
    background-size: cover;
    background-position: center;
    content: ' ';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}
.contactformparent{
    border: 2px solid wheat;
        height: 625px;
    position: relative;
}
.contactformDetails_para1{
    font-weight: bolder;
    text-transform: uppercase;
    color: greenyellow;
    display: inline-block;
    border: 2px solid;
}
.contactformDetails_para1:hover{
    background-color: black;
    color: white;
    border: none;
}
.contactformDetails_heading{
    font-family: auto;
    font-size: 3.4rem;
    font-weight: bolder;
    color: white;
}
.contactformDetails_para2{
    font-weight: bolder;
    color: white;
    font-size: 1.2rem;
}
.contactformDetails_para3{
    font-size: 23px;
    font-weight: bolder;
    text-transform: uppercase;
}
.contactformDetails_location_section p{ 
    color: white;
    font-size: 1rem;
    
}
.contactformDetails_location_icon{
    color: yellow;
    font-size: 20px;
}
/* table */





@media screen and (max-width: 768px){
    .contactformparent{
        height: 56pc;
    }
    @media screen and (max-width: 403px){
        .contactformparent{
            height: 95pc;
        }
    }
    @media screen and (max-width: 425px){
        .contactformparent{
            height: 91pc;
        }
        .contactformparent_form_field{
            height: 39pc;
        }
    }
    @media screen and (max-width: 396px){
        .contactformparent{
            height: 100pc;
        }
    }
  
    @media screen and (max-width: 401px){
        .contactformparent{
            height: 96pc;
        }
    }
    @media screen and (max-width: 572px){
        .contactformparent{
            height: 89pc;
        }
    }
  

}

@media screen and (max-width: 396px) {
    .contactformparent{
        height: 80pc ;
    }
    .contactformparent_form_field{
        height: 36pc;
    }
}
@media screen and (max-width: 1194px) {
    .contactformparent_mainRow{
    height: 34pc;
    }
    .contactformDetails_location_section p{
        font-size: 15.2px;
        margin-top: -14px;
    }
}

@media screen and (max-width: 990px) {
    .contactformDetails_heading{
        font-size: 2.2rem;
    }
    .contactformDetails_para2{
        font-size: 16px;
    }
    .contactformDetails_location_section p{
        color: red;
        font-size: 15px;
        margin-top: -14px;
    }
   .contactformparent_form {
    height: 16pc;
   }
}
